body {
    box-sizing: 0px;
    font-family: 'Noto Sans Thai', sans-serif;
}

#map {
    height: 500px;
}

.chart {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.chart-m {
    padding-top: 0.3rem !important;
    padding-right: 0.3rem !important;
    padding-bottom: 0.1rem !important;
}

.card .card-title {
    margin-bottom: 0px !important;
}

img.huechange {
    filter: hue-rotate(120deg);
}

.list-wrapper {
    height: 100%;
    max-height: 300px !important;
    overflow: scroll;
}